/*
*      dMMMMMP dMP dMP dMMMMMP dMMMMb dMMMMMMP            
*     dMP     dMP dMP dMP     dMP dMP   dMP               
*    dMMMP   dMP dMP dMMMP   dMP dMP   dMP                
*   dMP      YMvAP" dMP     dMP dMP   dMP                 
*  dMMMMMP    VP"  dMMMMMP dMP dMP   dMP                  
*                                                         
*      dMP dMP .aMMMb  dMMMMb  dMP dMMMMMP .aMMMb  dMMMMb 
*     dMP dMP dMP"dMP dMP.dMP amr   .dMP" dMP"dMP dMP dMP 
*    dMMMMMP dMP dMP dMMMMK" dMP  .dMP"  dMP dMP dMP dMP  
*   dMP dMP dMP.aMP dMP"AMF dMP .dMP"   dMP.aMP dMP dMP   
*  dMP dMP  VMMMP" dMP dMP dMP dMMMMMP  VMMMP" dMP dMP    
*                                                         
*
*/


@define-color background-color #1c1e26;
@define-color border-color #26bbd9;
@define-color label #fadad1;
@define-color image #fadad1;
@define-color progress #fab795;

/* Cancel out Omarchy settings */
window:not(:backdrop),
window:backdrop {
    border: none;
    border-width: 0;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
}


/* Draw a new background */
window:not(:backdrop) #container,
window:backdrop #container {
    border: 3px solid @border-color;
    border-radius: 16px;
    background-color: @background-color;
    padding: 12px;
    background-clip: padding-box;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.8);
}

/*
* _______/\\\\\_______/\\\\\\____________/\\\__                                                  
*   _____/\\\///\\\____\////\\\___________\/\\\__                                                 
*    ___/\\\/__\///\\\_____\/\\\___________\/\\\__                                                
*     __/\\\______\//\\\____\/\\\___________\/\\\__                                               
*      _\/\\\_______\/\\\____\/\\\______/\\\\\\\\\__                                              
*       _\//\\\______/\\\_____\/\\\_____/\\\////\\\__                                             
*        __\///\\\__/\\\_______\/\\\____\/\\\__\/\\\__                                            
*         ____\///\\\\\/______/\\\\\\\\\_\//\\\\\\\/\\_                                           
*          ______\/////_______\/////////___\///////\//__                                          
*  ______/\\\\\\\\\\\________________/\\\_______________________/\\\______________________        
*   _____\/////\\\///________________\/\\\______________________\/\\\______________________       
*    _________\/\\\___________________\/\\\______________________\/\\\______________________      
*     _________\/\\\_________/\\\\\____\/\\\____________/\\\\\____\/\\\____________/\\\\\____     
*      _________\/\\\_______/\\\///\\\__\/\\\\\\\\\____/\\\///\\\__\/\\\\\\\\\____/\\\///\\\__    
*       _________\/\\\______/\\\__\//\\\_\/\\\////\\\__/\\\__\//\\\_\/\\\////\\\__/\\\__\//\\\_   
*        __/\\\___\/\\\_____\//\\\__/\\\__\/\\\__\/\\\_\//\\\__/\\\__\/\\\__\/\\\_\//\\\__/\\\__  
*         _\//\\\\\\\\\_______\///\\\\\/___\/\\\\\\\\\___\///\\\\\/___\/\\\\\\\\\___\///\\\\\/___ 
*          __\/////////__________\/////_____\/////////______\/////_____\/////////______\/////_____
*  
*/
