@define-color background #1c1e26;
@define-color foreground #fadad1;
@define-color accent #26bbd9;

/*
* _______/\\\\\_______/\\\\\\____________/\\\__                                                  
*   _____/\\\///\\\____\////\\\___________\/\\\__                                                 
*    ___/\\\/__\///\\\_____\/\\\___________\/\\\__                                                
*     __/\\\______\//\\\____\/\\\___________\/\\\__                                               
*      _\/\\\_______\/\\\____\/\\\______/\\\\\\\\\__                                              
*       _\//\\\______/\\\_____\/\\\_____/\\\////\\\__                                             
*        __\///\\\__/\\\_______\/\\\____\/\\\__\/\\\__                                            
*         ____\///\\\\\/______/\\\\\\\\\_\//\\\\\\\/\\_                                           
*          ______\/////_______\/////////___\///////\//__                                          
*  ______/\\\\\\\\\\\________________/\\\_______________________/\\\______________________        
*   _____\/////\\\///________________\/\\\______________________\/\\\______________________       
*    _________\/\\\___________________\/\\\______________________\/\\\______________________      
*     _________\/\\\_________/\\\\\____\/\\\____________/\\\\\____\/\\\____________/\\\\\____     
*      _________\/\\\_______/\\\///\\\__\/\\\\\\\\\____/\\\///\\\__\/\\\\\\\\\____/\\\///\\\__    
*       _________\/\\\______/\\\__\//\\\_\/\\\////\\\__/\\\__\//\\\_\/\\\////\\\__/\\\__\//\\\_   
*        __/\\\___\/\\\_____\//\\\__/\\\__\/\\\__\/\\\_\//\\\__/\\\__\/\\\__\/\\\_\//\\\__/\\\__  
*         _\//\\\\\\\\\_______\///\\\\\/___\/\\\\\\\\\___\///\\\\\/___\/\\\\\\\\\___\///\\\\\/___ 
*          __\/////////__________\/////_____\/////////______\/////_____\/////////______\/////_____
*  
*/

