@define-color bg #1c1e26;
@define-color fg #fadad1;
@define-color gray1 #29d398;
@define-color gray2 #6c6f93;
@define-color gray3 #26bbd9;
@define-color gray4 #fab795;
@define-color gray5 #ee64ac;
@define-color fg_bright #fadad1;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}